.my-theme {
    --color-main-primary: #3A5A40;
    --color-sidebar-background: #A3B18A;
    --color-main-dark: #344E41;
    --color-first-name: #DAD7CD;
    --color-second-name-link: #4F772D;
    --color-sidebar-border-text: #132A13;
}