* {
    margin: 0;
    padding: 0;
}

.wrapper {
    color: #263036;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    display: flex;
    justify-content: center;
}

.sidebar {
    background-color: #86A3B4;
    max-width: 385px;
    border-left: solid 1px #1E1E1E;
    border-right: solid 1px #1E1E1E;
    position: sticky;
    top: 0;
    height: 100vh;
}

.fullname {
    margin-left: 40px;
    margin-top: 60px;
    margin-bottom: 35px;
    font-size: 40px;
    line-height: 48px;
}

.first-name {
    color: #fff;
}

.second-name {
    color: #1C2E8C;
}

.photo {
    width: 100%;
    height: auto;
}

.sidebar-content {
    margin-top: 50px;
}

.sidebar-content ul {
    list-style-type: none;
}

.content-item {
    margin-left: 40px;
    margin-right: 50px;
    margin-bottom: 35px;
}

.title {
    font-size: 32px;
    line-height: 39px;
    padding-bottom: 10px;
    border-bottom: solid 6px #1E1E1E;
    margin-bottom: 30px;
}

.title.main {
    font-size: 36px;
    line-height: 44px;
    padding-bottom: 30px;
    color: #1E1E1E;
    border-bottom: solid 6px #000;
}

.contact li a {
    text-decoration: none;
    color: #1C2E8C;
}

#phone {
    color: #263036;
}

.contact-title {
    font-size: 24px;
    line-height: 29px;
}

.contact-text {
    font-size: 16px;
    line-height: 19px;
    margin-top: 10px;
    margin-bottom: 35px;
}

.languages li {
    color: #1E1E1E;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 15px;
}

.main-content {
    margin: 60px 55px 0;
}

.main-content-item {
    max-width: 706px;
    margin-bottom: 50px;
    font-size: 16px;
    line-height: 19px;
    color: #263036;
}

.skills-list {
    columns: 2;
    list-style-position: inside;
}

.item-text {
    color: #000;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 15px;
}

.main-content-item span {
    font-weight: 600;
}

.fw400 {
    font-weight: 400;
}

/* ----form---- */
.form-wrapper {
    max-width: 1024px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-top: 50px;
    position: absolute;
    left: calc(50% - 246px);
}

.form {
    position: fixed;
    top: calc(50% - 229px);
    left: calc(50% - 246px);
    background-color: #fff;
    z-index: 1;
}

input,
select,
textarea {
    appearance: none;
    border: none;
    outline: none;
}

input,
select,
textarea {
    background-color: #F8FAFC;
    padding: 12px;
    color: #3B4256;
    font-size: 16px;
    width: 460px;
    box-sizing: border-box;
    font-family: inherit;
}

.email:invalid {
    border: 1px solid #ED0131;
    border-radius: 4px;
}

.email:valid {
    border: 1px solid #0E6245;
    border-radius: 4px;
}

.email:focus {
    border: 1px solid #0048D9;
    border-radius: 4px;
}

.description {
    height: 115px;
}

select {
    background: url('/arrow.svg') no-repeat center right 0.75rem;
    background-color: #F8FAFC;
}

input::placeholder,
textarea::placeholder {
    color: #B8BCCA;
}

table,
th,
td {
    border: solid 1px #000;
    border-collapse: collapse;
    padding: 5px;
}

.form-table a {
    text-decoration: none;
    color: #000;
}

fieldset {
    border: 1px dashed #7B61FF;
    border-radius: 5px;
    padding: 15px;
    color: #6F7482;
}

.form-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}

.form-title {
    margin-bottom: 15px;
}

.button {
    background-color: #0048D9;
    color: #fff;
    padding: 4px 16px;
    border-radius: 6px;
    width: 92px;
    height: 32px;
    font-weight: 500;
    cursor: pointer;
    margin-top: 20px;
}

.button:hover {
    background-color: #002266;
}

.label-title span {
    color: #ED0131;
}

label {
    cursor: pointer;
    margin-top: 10px;
}

.error {
    display: none;
    font-size: 12px;
    color: #ED0131;
}

.email:invalid + .error {
    display: block;
}

.success {
    display: none;
    font-size: 12px;
    color: #0E6245
}

.email:valid +.error + .success {
    display: block;
}